* {
  box-sizing: border-box;
}

#imgcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  align-items: center;
  justify-items: center;
}

#imgcontainer img {
  width: 50%;
  height: auto;
  border: solid 4px black;
}

#imgcontainer div {
  text-align: center;
}

#imgdiv16,
#imgdiv15,
#imgdiv14,
#imgdiv13,
#imgdiv12,
#imgdiv11,
#imgdiv10,
#imgdiv9,
#imgdiv8,
#imgdiv7,
#imgdiv6,
#imgdiv5,
#imgdiv4,
#imgdiv3,
#imgdiv2,
#imgdiv1 {
  position: relative;
}

.overlay {
  margin: 0 auto;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 25%;
  background: black;
  opacity: 0.5;
}

.show {
  opacity: 0;
}
