#imgcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  align-items: center;
  justify-items: center;
}

#imgcontainer img {
  width: 55%;
  height: auto;
  border: solid 4px black;
}

#imgcontainer div {
  text-align: center;
}

.overlay {
}
